
<div class="row">
    <div class="small-12 columns"><h3>Phase Actions</h3></div>
</div>  

<div class="row">
    <div class="small-6 columns">  

	    <div class="row">
	        <div class="small-3 columns">
	          <label for="right-label" class="right">Action Name</label>
	        </div>    

	        <div class="small-9 columns">
	          <input type="text" id="action_name right-label" name="action_name" >
	        </div>
	    </div>

    </div>

    <div class="small-4 columns">  

        <div class="row">
          <label for="">Action time units per tick</label>
        </div>
        <div class="row">
          <input type="range" min="1" max="10" id="time_tick" name="time_tick">
        </div>
    </div>  
</div>

<div class="row">
    <div class="small-12 columns"><h4>Messages for the action</h4></div>
</div>
<div class="row">    
    <div class="small-12 columns">
      <input type="text" id="action_msg_1">
      <input type="text" id="action_msg_2">
      <input type="text" id="action_msg_3">
    </div>
</div>

  <div class="row">
    <div class="small-12 columns"><h4>Action Resource</h4></div>
  </div>  

<div class="row">
    <div class="small-6 columns">  

      <div class="row">
        <div class="small-3 columns">
          <label for="resource_name right-label" class="right">Resource Name</label>
        </div>    

        <div class="small-9 columns">
          <input type="text" id="resource_name right-label" name="resource_name" >
        </div>
      </div>

      <div class="row">
        <div class="small-3 columns">
          <label for="resource_value right-label" class="right">Resource value</label>
        </div>    

        <div class="small-9 columns">
          <input type="number" id="resource_value right-label" >
        </div>
      </div>      

    </div>

    <div class="small-4 columns">  

      <a href="#" class="button success form-button" id="addAction">Add action</a>     

    </div>  
  </div>