<h3>Phase Actions</h3>
<div class="row">
	<label for="">Action Name</label>
</div>
<div class="row">
	<input type="text" id="action_name" name="action_name">
</div>

<div class="row">
	<label for="">Action time units per tick</label>
</div>
<div class="row">
	<input type="range" min="1" max="10" id="time_tick" name="time_tick">
</div>

<div class="row">
	<h4>Messages for the action</h4>
</div>
<div class="row">
	<input type="text">
	<input type="text">
	<input type="text">
</div>

<div class="row">
	<h4>Action Resource</h4>
</div>
<div class="row">
	<label for="action#resource_name">Resource Name</label>
	<input type="text" id="action#resource_name" name="action#resource_name">
	<label for="action#resource_duration">Resource value</label>
	<input type="number" id="action#resource_duration">
</div>

<div class="row">
	<button id="addActionButton">Add action</button>
</div>
