<div class="row">
  <div class="small-12 columns"><h2>Character Data</h2></div>
</div>

<div class="row">
 <div class="small-6 columns">
      
    <div class="row">
      <div class="small-3 columns">
        <label for="char_age right-label" class="right">Starting Age</label>
      </div>
      
      <div class="small-9 columns">
        <input type="number" value="15" id="char_age right-label" name="char_age" >
      </div>
    </div>
  </div>  

  <div class="small-4 columns">
    <a href="#" class="button success form-button" id="addCharacterData">Add Character Data</a>
  </div>
</div>