<!-- General Info -->
	<div class="row">
		<h2>General Data</h2>
	</div>
	<div class="row">
		<label for="name">Name</label>
	</div>
	<div class="row">
		<input id="name" type="text" name="name">
	</div>
	<div class="row">
		<label for="description">Description</label>
	</div>
	<div class="row">
		<input type="text" id="description" name="description">
	</div>
	<div class="row">
		<label for="upload_img">Upload image</label>
	</div>
	<div class="row">
		<input type="file" id="upload_img" name="upload_img">
	</div>
	<div class="row">
		<label for="n_scenes"># of Scenes</label>
	</div>
	<div class="row">
		<input id="n_scenes" name="n_scenes" type="number" value="3">
	</div>
	<div class="row">
		<label for="time_unit">Minimal time unit</label>
	</div>
	<div class="row">
		<input type="number" id="time_unit" value="1000" name="time_unit">
	</div>
	<div class="row">
		<label for="tags">Enter three tags</label>
	</div>
	<div class="row">
		<input type="text" class="tag" id="tag-1">
		<input type="text" class="tag" id="tag-2">
		<input type="text" class="tag" id="tag-3">
	</div>


<div class="row">
	<button id="addGeneralData">Add General Data</button>
</div>