<div class="row">
	<h2>Phase</h2>
</div>
<div class="row">
	<label for="phase_name">Phase Name</label>
</div>
<div class="row">
	<input type="text" id="phase_name" name="phase_name">
</div>

<div class="row">
	<label for="phase_text">Phase Name</label>
</div>
<div class="row">
	<input type="text" id="phase_text" name="phase_text" placeholder="Description of what you will acomplish during this phase if you succeed">
</div>

<hr>

<h3>Phase Success Conditions</h3>

<div class="row">
	<label for="succ_req">Requirement #</label>
</div>
<div class="row">
	<label for="req#key">Requirement Name</label>
	<input type="text" id="req#key" >
	<label for="req#val">Requirement Value</label>
	<input type="number" id="req#val">
	<label for="success_text">Success text</label>
	<input type="text" id="success_text">
</div>

<hr>
<h3>Phase Failure Conditions</h3>
<div class="row">
	<label for="fail_req">Requirement #</label>
</div>
<div class="row">
	<input type="text" id="req#key" >
	<input type="number" id="req#val">
	<input type="text" id="fail_text">
</div>


<div class="row">
	<button id="addPhase">Add Phase</button>
</div>