{% extends "base.html" %}
	
{% block content %}
	<div id="content">
		<div id="phase"></div>
		<div id="actions"></div>
		<div id="characters"></div>
	</div>

	{% raw %}
	<!-- Phase Template -->
	<script id="phase_template" type="text/x-handlebars-template">
    	<div class="{{phase.name}}">
    		<h2 class="text">{{phase.text}}</h2>
    	</div>
	</script>

	<!-- Action Template -->
	<script id="action_template" type="text/x-handlebars-template">
    	{{#each phase.actions}}
    		<div class="{{this.name}}">
	    		{{#each this.messages}}
	    			{{#if @first}}
	    				<span class="text">{{ this }}</span>
	    			{{/if}}
	    		{{/each}}
	    		<button class="do-button" data-action-number="{{@index}}" data-phase-number="{{../phase.id}}">Do</button>
    		</div>
    	{{/each}}
	</script>

	<script id="character_template" type="text/x-handlebars-template">
    	{{#each characterSkills }}
    		<div class="{{@key}}">
	    		<span class="text">{{ @key }}</span>
	    		<span class="value">{{ this }}</span>
    		</div>
    	{{/each}}
	</script>
	
	<script id="failure_template" type="text/x-handlebars-template">
		<div class="failure">
			<span class="text">{{ failure.message }}</span>
		</div>
	</script>

	{% endraw %}

{% endblock %}


	

