<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="../static/css/foundation.css" />
    <link rel="stylesheet" href="../static/demo.css" />    
    <script src="../static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    
    <div class="row">
      <div class="large-12 columns">
        <h1>Making E-Story</h1>
      </div>
    </div>
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc. Sed lacinia blandit nisl ac sollicitudin. Curabitur et neque sodales, efficitur ex facilisis, cursus sem. Donec sapien lectus, ultrices sit amet laoreet at, luctus vulputate diam. In in elementum magna, sed malesuada leo. Proin ex</p>
	       
	    	</div>
    </div>

    <div class="row " >

      <div class="large-2 medium-2 large-offset-1 medium-offset-1 columns ">
        <a href="#" class="button create-history icon-buttom"></a>
      </div>

      <div class="large-3 medium-3 columns">
        <h2>crea una</br>historia</h2>
      </div>

      <div class="large-2 medium-2 columns ">
        <a href="#" class="button play-history icon-buttom"></a>
      </div>

      <div class="large-3 medium-3 end columns">
        <h2>vive una</br>historia</h2>
      </div>

    </div>

    <div class="row stories-gallery" id="stories-gallery">
      
      <div class="large-5 medium-5 large-offset-1 medium-offset-1 columns e-story " id="e-story">
        <a href=""><img src="../static/img/image_02b.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>

      <div class="large-5 medium-5 columns e-story end" id="e-story">
        <a href=""><img src="../static/img/image_01a.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>

      <div class="large-5 medium-5 large-offset-1 medium-offset-1 columns e-story " id="e-story">
        <a href=""><img src="../static/img/image_01b.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>

      <div class="large-5 medium-5  columns e-story end" id="e-story">
        <a href=""><img src="../static/img/image_02a.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>

      <div class="large-5 medium-5 large-offset-1 medium-offset-1 columns e-story " id="e-story">
        <a href=""><img src="../static/img/image_02b.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>

      <div class="large-5 medium-5 columns e-story end" id="e-story">
        <a href=""><img src="../static/img/image_01a.jpg" alt=""></a>
        <h3>Titulo 1</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at feugiat dui. Praesent id urna vitae neque mollis fermentum in nec nunc.</p>
      </div>



    </div>
    
    <script src="../static/js/vendor/jquery.js"></script>
    <script src="../static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
